body {
    margin:0;
    padding:0;
    color:#fff;
    background-color:#26272c;
    font-family: 'Lato', sans-serif;
}

.overflowHidden {
    width:100vw;
    overflow-x: hidden;
}

.pageHeader {
    width:100vw;
    height:80px;
    box-sizing: border-box;
    background-color:#042181;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}

.pageHeader h2 {
    
}

.mobileMenu {
    position: absolute;
    top:30px;
    right:10px;
    width:50px;
    text-align: center;
}

.mobileMenu .hamburgerIcon {
    display:none;
}

.mobileMenu .closeIcon {
    display:none;
}

aside {
    vertical-align: top;
    width: 20vw;
    display:inline-block;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

aside header {
    background-color:#0934c4;
    height: 50px;
    box-sizing: border-box;    
    text-align: center;
    padding-top:15px;
}

aside nav {
    background-color:#113ed6;
    height: 70px;
    padding-top:10px;
    box-sizing: border-box;
    text-align: center;
}

aside footer {
    background-color:#1c1c1f;
    text-align: center;
    padding:15px 0px;
}

aside article {
    padding:15px;
    text-align: justify;
    background-color:#26272c;
}

#canvas {
    vertical-align: top;
    width:80vw;
    margin:0;
    padding:0;
    height:600px;
    display:inline-block;
    box-sizing: border-box;
}

.colorBox {
    width:50px;
    display:inline-block;
    height:50px;
    margin-left:10px;
    margin-right: 10px;
    border-radius:10px;
    border: 1px solid #525252;
}

.colorBox:hover {
    cursor: pointer;
    border-color:white;
}

@media screen and (max-device-width: 800px) {
    .mobileMenu .hamburgerIcon {
        display:block;
    }
    aside {
        position: absolute;
        left:-40%;
        width:40vw;
        transition: all 0.5s ease-in-out;
    }
}